<?xml version="1.0" encoding="UTF-8" ?>
<!-- /*
 * MAGIX CMS Copyright (c) 2011 Gerits Aurelien, 
 * http://www.magix-dev
 * Dual licensed under the MIT AND GPL Version 3 licenses.
 *
 * Date: August 4 17:00 2011
 */-->
<config>
	<acl>
		<admin>
			<authorized>
				<allow_access>*</allow_access>
			</authorized>
			<infos>
				<authors>
					<author>
						<name>Gerits Aurelien</name>
						<link>
							<website href="http://www.magix-cms.com" />
						</link>
					</author>
				</authors>
				<version>
					<date_create>03/08/2015</date_create>
					<date_update>29/02/2016</date_update>
					<number>1.1</number>
					<phase>Stable</phase>
					<support>
                        <ticket href="https://github.com/magix-cms/mailchimp/issues"></ticket>
                        <git href="https://github.com/magix-cms/mailchimp"></git>
					</support>
				</version>
			</infos>
		</admin>
	</acl>
</config>